<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 col-container bg-grey">
      <h2 class="title">البحث برقم تعريف العميل</h2>
      <form #f="ngForm" (ngSubmit)="getInvoiceHistory(clientId.value)">
          <!-- form-row align-items-center-->
        <div class="row mb-3 ">
          <label for="inputNum" class="col-md-2 col-form-label "
            >رقم تعريف العميل:<span class="required">*</span></label
          >
          <div class="col-md-7">
            <input
              type="text"
              class="form-control mb-2 mb-md-0"
              id="inputNum"
              placeholder="من فضلك إدخل رقم تعريف العميل"
              name="clientId"
              #clientId="ngModel"
              ngModel
              required
            />
            <div
              class="text-danger"
              *ngIf="errorMessage"
            >
              {{ errorMessage }}
            </div>
          </div>
          <div class="col-md-3">
            <button
              type="submit"
              [disabled]="!f.valid"
              class="btn  btn-primary btn-block"
            >
              البحث عن المعاملات السابقة
            </button>
          </div>
        </div>
      </form>
      <div
        class="text-danger"
        *ngIf="invoiceHistory?.length == 0"
      >
        {{ invoiceHistoryerrorMessage }}
      </div>
    </div>
  </div>
</section>
<!-- the second section-->
<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 sec-container ">
      <div class="head">
        <h2 class="title">عدد العمليات المتاح إسترجاعها:</h2>
        <p class="text ">{{ invoiceHistory?.length || 00 }}</p>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-searchResults">
            <thead>
              <tr>
                <th scope="col">رقم العملية</th>
                <th scope="col">تاريخ الفاتورة</th>
                <!-- <th scope="col">كود المنتج
                </th> -->
                <th scope="col">إجمالي الفاتورة</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let invoice of invoiceHistory">
              <tr>
                <th scope="col">
                  <div class="item-num">
                    {{ invoice.invoiceNo }}
                  </div>
                </th>
                <td class="">
                  {{ invoice.date | date: "dd/MM/yyyy" }}
                </td>
                <!--  <td>
                  {{invoiceHistory.}} منتج
                </td>-->
                <td class="">
                  {{ invoice.price }}
                </td>
                <td class="text-left">
                  <!-- <button type="button" class="btn btn-success btn-custom" routerLink="refund-popup">
                    إظهار تفاصيل
                    الفاتورة </button> -->
                  <button
                    type="button"
                    class="btn btn-secondary-color btn-custom"
                    *ngIf="invoice.showDetails"
                    (click)="
                      invoice.showDetails = false; refundedItems.items = []
                    "
                  >
                    إخفاء تفاصيل الفاتورة
                    <i class="fas fa-chevron-down text-white mr-2"></i>
                  </button>
                  <button
                    class="btn btn-success btn-custom"
                    (click)="
                      getInvoiceDetails(
                        clientId.value,
                        invoice.invoiceNo,
                        invoice
                      )
                    "
                    type="button"
                    tabindex="0"
                    *ngIf="!invoice.showDetails"
                  >
                    إظهار تفاصيل العملية
                  </button>
                </td>
              </tr>
              <tr>
                <td
                  colspan="5"
                  class="bg-light-grey border-0 p-0"
                  *ngIf="invoice.showDetails"
                >
                  <!-- تفاصيل الفاتورة -->
                  <div class="bg-light-grey pt-2">
                    <table class="table mb-0 table-borderless">
                      <thead>
                        <tr>
                          <th class="text">المنتج</th>
                          <th class="text">الفئة الفرعية</th>
                          <th class="text">سعر الوحدة</th>
                          <th class="text">الدفعة المقدمة</th>
                          <th class="text">فترة التقسيط</th>
                          <th class="text">القسط الشهري</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of invoiceDetails.items;
                            let i = index
                          "
                          [attr.data-index]="i"
                        >
                          <td>
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input
                                  type="checkbox"
                                  class="custom-control-input"
                                  [id]="i"
                                  (change)="
                                    addRefundedItems(
                                      item.installmentSeqNo,
                                      invoice.invoiceNo,
                                      i,
                                      $event.target.checked
                                    )
                                  "
                                />
                                <label class="custom-control-label" [for]="i">
                                  {{ item.name }}
                                </label>
                              </div>
                            </form>
                          </td>
                          <td>
                            <span class="text">
                              {{item.subCategory}}
                            </span>
                          </td>
                          <td>
                            <span class="text"> {{ item.price }} </span>جنيه
                            مصري
                          </td>
                          <td>
                            <span class="text">{{ item.downPayment }}</span>
                            جنيه مصري
                          </td>
                          <td>
                            <span class="text">{{ item.tenor }}</span> شهرا
                          </td>
                          <td>
                            <span class="total"> </span>
                             {{item.monthlyPay}} 
                            جنيه مصري / شهر
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5"></td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-secondary-color btn-custom"
                              [disabled]="refundedItems.items.length <= 0"
                              (click)="goToRefundView()"
                            >
                              <i class="fas fa-share text-white ml-2"></i>
                              إسترجاع المنتجات المحددة
                            </button>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="footer text-center">
            <button class="btn btn-secondary col-md-3 mx-1" type="button" routerLink="" >إلغاء  </button>
            <button class="btn btn-success col-md-3 mx-1" type="button" routerLink="success"  >تأكيد الطلب</button>
        </div> -->
    </div>
  </div>
</section>

<router-outlet></router-outlet>
