.receipt-container{
    justify-content: center;
   font-size: .8rem;
}
.data{
    display: flex;
    p{
        margin-bottom:.5rem;
        font-size: 1rem;
    }
}
.table-responsive{
th , td{
    text-align: center;
}
}
.tbl-footer{
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}
h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
ul{
    margin: 0;
    padding: 0 .9rem;
}
ul >li{
    margin-bottom: .5rem;
}