@import "../../custom_styles/variables";


.head {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  .title {
    margin-bottom: 0;
    margin-left: 0.5rem;
  }
}
.notification-icon {
  position: relative;
  margin-left: 0.6rem;
  color: $primary-color;
  i {
    font-size: 1.5rem;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: -12px;
    background: #f1552d;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
  }
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: $text-grey;
  }
}
// /////////////////////////////////////SHOPPING CART/////////////////////////////////////////////
.table-sm{
    // width: 70%;
    th {
        padding: 0.5rem;
        font-size: 0.8rem;
      }
        th:last-child{
            // width: 77%;
           
            text-align: left;
            a{
                color: $secondary-color;
                font-weight: 400;
            }
        }
        td , th{
            line-height: 160%;
        }
        .total{
            color: $secondary-color;
            font-weight: 600;
            font-size: .8rem;
        }
}

