@import "../../custom_styles/variables";
.col-container{
    padding: 3rem 7rem ;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  .title {
    margin-bottom: 0;
    margin-left: 0.5rem;
  }
}
.notification-icon {
  position: relative;
  margin-left: 0.6rem;
  color: $primary-color;
  i {
    font-size: 1.5rem;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: -12px;
    background: #f1552d;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
  }
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: $text-grey;
  }
}
// /////////////////////////////////////SHOPPING CART/////////////////////////////////////////////
.table-sm{
    width: 70%;
    th {
        padding: 0.5rem;
        font-size: 0.8rem;}
        th:last-child{
            width: 77%;
            a{
                color: $secondary-color;
            }
        }
        td , th{
            line-height: 160%;
        }
        .total{
            color: $secondary-color;
            font-weight: 600;
            font-size: .8rem;
        }
}

.cart-btn{
    position: relative;
    margin-left: .3rem;    
    .badge{
        background: #f00;
        color: #fff;
        font-size: 10px;
        position: absolute;
        right: -9px;
        border-radius: 50%;
        min-height: 15px;
        min-width: 15px;
        padding: .2rem .3rem;
    }
    i{
        font-size: 20px;
        color: $primary-color;
    }
}
.cart-modal{
    .cart-modal-body{
      img{
        width:5rem;
        margin-bottom: 2rem;
      }
    }
    .cart-modal-footer{
      border: 0;
      .btn{
        font-size: 1rem;
      }
    }
  }