
@import "../../custom_styles/variables";

.head {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  .title {
    margin-bottom: 0;
    margin-left: 0.5rem;
  }
}
.notification-icon {
  position: relative;
  margin-left: 0.6rem;
  color: $primary-color;
  i {
    font-size: 1.5rem;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: -12px;
    background: #f1552d;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
  }
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: $text-grey;
  }
}
//CheckOut Styles===============================================
.table-sm{
  .tbl-footer{
    background: $primary-color;
    color: white;
    vertical-align: middle;
    padding: 0.7rem 0.6rem;
    td{
      
    //   padding: 0.7rem .3rem;
     
    }
  }
  
 
 
}
.table td.bg-light-grey {
  background: #f8f8f863 !important;}
  a{
    color: $secondary-color;
}
.item-num{
  width: 20px;
  height: 20px;
  background:$text-grey;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table thead th{
  border: 0;
  background: #f8f8f863 !important;

}
.wid-100{
  width: 100% !important;
}
.total {
   
        color:$secondary-color;
        font-weight: 600;
        margin-left: .4rem;
        font-size: .8rem;

}

.text{
  margin-left: .5rem;
}

.custom-control {
    padding-right: 1.5rem;}
    .custom-control-label::before  , .custom-control-label::after{
      top: 0rem;
      right: -1.5rem;}

      .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: $secondary-color;
        background-color: $secondary-color;
    }
tfoot{
  background: #dee2e6;
}