<!-- Modal == Add To Cart-->
<div class="modal cart-modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-3">
      <div class="modal-body text-center">
     <div class="cart-modal-body">
      <img src="../../assets/img/added_icon.png">
      <h5 class="heading-title mb-2">تمت الإضافة للعربة بنجاح</h5>
      <p class="text-black">القسط الشهري</p>
      <h5 class="text-secondary">1202.8 جنيها مصريا</h5>
     </div>
      </div>
      <div class="modal-footer  text-center justify-content-center">
        <button type="button" class="btn btn-primary col-md-5 " data-dismiss="modal">موافق </button>
      </div>
    </div>
  </div>
</div>