<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 col-padding">
      <div class=" cart-modal text-center">
        <div class="cart-modal-body">
          <img src="../../assets/img/Share.png">
          <h5 class="heading-title mb-3">هل تريد إسترجاع هذة المعاملة ؟</h5>
          <p class="text-black mb-3">للتأكيد الرجاء ادخال رقم العميل والمتابعة </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-6 col-container bg-grey">
      <h2 class="title">تأكيد عملية الإسترجاع </h2>
      <form #mobSub="ngForm" (ngSubmit)="sendOtpToClient(clientId)">
        <div class="form-row mb-3">
          <label for="inputNum" class="col-md-4 col-form-label ">تم إرسال كود تأكيد العملية على رقم:<span
              class="required">*</span></label>
          <div class="col-md-8">
            <p class="form-control" dir="ltr">{{mobileNo}}
            </p>

            <!-- <input type="text" class="form-control " id="inputNum" placeholder=""
            name="mobSub" required disabled dir="ltr"
             [(ngModel)]="mobileNo| replace:'/.{7}/: '*******'" #mobSub="ngModel"> -->
          </div>
        </div>
        <!-- <div class="row ">
          <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-primary ">إرسل الرمز</button>
          </div>
        </div> -->
      </form>
    </div>
    <div class="col-md-6 col-container bg-light-grey">
      <h2 class="title" style="visibility: hidden">تأكيد العميل</h2>
      <form #mobOtp="ngForm">
        <div class="form-row mb-3">
          <label for="inputState" class="col-md-4 col-12 col-form-label">كود تأكيد العملية:<span
              class="required">*</span></label>
          <div class="col-md-8">
            <input type="text" class="form-control " id="inputState" required placeholder="" mdbInputDirective
              [validateSuccess]="false" data-error="كود التأكيد غير صحيح يرجى إعادة المحاولة" name="otp" ngModel
              #otp="ngModel">
            <div class="text-danger" *ngIf="otpErrorMessage">{{otpErrorMessage}}</div>

          </div>

        </div>
        <!-- <div class="row">
          <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-primary " [disabled]="!mobOtp.valid">تأكيد</button>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12 ">
            <div>
              فى حالة تعذر إرسال كود تأكيد العملية <span><a (click)="sendOtpToClient(clientId)" class="link">إضغط هنا</a></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- <section class="container-fluid main-container">
    <div class="row">
        <div class="col-md-12 col-padding">
  <div class="cart-modal-footer  footer text-center">
    <button type="button" class="btn btn-secondary col-md-4 mx-1 mb-2 mb-md-0 " > إلغاء </button>
    <button type="button" class="btn btn-success col-md-4 mx-1" > تأكيد عملية الاسترجاع </button>
  </div>
  </div>
</div>
</section> -->
<section class="container-fluid main-container sec-container">
  <!-- class="py-5" -->
  <div>
    <div class="footer text-center">
      <button type="button" class="btn btn-secondary col-md-4 mx-1 mb-2 mb-md-0 " routerLink="/customer"> إلغاء
      </button>
      <button type="button" class="btn btn-success col-md-4 mx-1" [disabled]="!mobOtp.valid"
        (click)="confirmRefund( otp.value)"> تأكيد عملية الاسترجاع </button>
    </div>
  </div>
  <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="modal-footer alert-success text-center justify-content-center" *ngIf="successMessage">{{successMessage}}
  </div>
</section>